body{
  margin: 0%;
  text-align: center;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  color:#66BFBF;
  
   }
h2{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 2rem;
  color:#66BFBF;
  font-weight: normal;
  
   }
h3  {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5rem;
  color:#66BFBF;
  font-weight:300px;
     }

.topcont{ 
    margin: 0;
    background-color: rgb(195, 235, 235);
    position:relative;
    padding-top: 150px;
    margin-bottom: 100px;
   
        }
      
.profile{
      margin-bottom: 100px;
}

.profile-image{
          height: 20%;
          width: 20%;
          margin:auto;
          
         }
.computer{
          height:20%;
          width:20%;
          float:left;
          margin-right: 30px;
       }
.ML{
  height:20%;
  width:20%;
  float: right;
  margin-left: 10px;
}

.skill-row{
      
      text-align:left;
      width:50%;
      margin-left: 370px;
      padding-bottom: 100px;

      
      }
  
    hr{  border-style:none;
      border-top-style:dotted;
      border-color: grey;
      border-width:5px;
      width:5%;
      margin-bottom: 100px;
      l
    }

  
  .bottom-cloud{
      position: absolute;
     
  }
  .top-cloud{
      position: absolute;
      right:450px;
      top:50px;
  }
  .btn {
    background: #109FA4;
    background-image: -webkit-linear-gradient(top, #109FA4, #082323);
    background-image: -moz-linear-gradient(top, #109FA4, #082323);
    background-image: -ms-linear-gradient(top, #109FA4, #082323);
    background-image: -o-linear-gradient(top, #109FA4, #082323);
    background-image: -webkit-gradient(to bottom, #109FA4, #082323);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #079797;
    font-family: Brush Script MT;
    font-size: 30px;
    font-weight: 50;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 20px 0 #87E9E9;
    -moz-box-shadow: 1px 1px 20px 0 #87E9E9;
    box-shadow: 1px 1px 20px 0 #87E9E9;
    text-shadow: 1px 1px 20px #078686;
    border: solid #33DCED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 60px;
    margin-bottom: 100px;
 }
 
 .btn:hover {
  border: solid #05726F 1px;
  background: #6DE8EC;
  background-image: -webkit-linear-gradient(top, #6DE8EC, #6DDDDE);
  background-image: -moz-linear-gradient(top, #6DE8EC, #6DDDDE);
  background-image: -ms-linear-gradient(top, #6DE8EC, #6DDDDE);
  background-image: -o-linear-gradient(top, #6DE8EC, #6DDDDE);
  background-image: -webkit-gradient(to bottom, #6DE8EC, #6DDDDE);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
.bottom-container{

               background: #079797;
               padding: 100px;
               
              }
.footer-link{
    color:#0e5658;
    margin: 50px;
    line-height: 100px;
    text-decoration: none;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 20px;

}